
h1{text-align: center;}
span{background-color: white;}

img{
    float:left;
    width:300px;
    padding-top:10px;
    border-radius:24px;
}
.project{
    margin-left:100px;
    position:relative;
    display:flex;
    flex-direction:column;
    padding:10px;
}
body {
    background-color:rgb(112,128,144);
    font-family:time new roman;
    font-size:20px;}

h2{
font-size:24px;
font-weight:bold;}
.aboutMe{
    margin:300px;
    padding-top:20px;
    

}


 
div{text-align: justify;
    padding:20px;

}
