@media only screen and (min-width: 480px) {body {
    background-color:rgb(112,128,144);background-size:contain;  background-repeat:no-repeat;
    font-family:time new roman;
    font-size:20px;
    
    
}
}
.container{text-align:center;
font-size:30px;
color:cyan;
border:10px;
margin:20px;
padding:12px;
font-weight:bold;
}
h2,h3,h4{
font-size:24px;
font-weight:bold;
margin:14px;
border:9px;
padding:10px;
}
#education{text-align: justify;
padding:10px;
margin:12px;
border:8px;
 }
 #job experience{text-align: justify;
padding:10px;
margin:10px;
border:8px }
div{text-align: justify;
padding:12px;
 margin:10px;
border:7px;}
.project{text-align: justify;
border:7px;
margin:9px;
padding:10px;}
